################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IntroConsoleApp/.vs/IntroConsoleApp
/IntroConsoleApp/bin/Debug/net7.0
/IntroConsoleApp/obj
